html,body{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}
.ping1{
    background-image: url(image1.png);
    min-height: 100%;
  
}
.ping2{
    background-image: url(image2.png);
    min-height: 400px;
}
.ping3{
    background-image: url(image3.png);
    min-height: 400px;
}
.ping1 ,.ping2, .ping3{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width:100%;
    text-align:center;
    color:black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textbg{
    color: white;
    background-color: rgb(20, 19, 20);
    padding: 20px;
}
.section-light{
    padding: 50px 80px;
    text-align: center;
}
.section-light {
    background-color:#f4f4f4;
    color:#666;
    
 
}
.section-dark{
    padding: 50px 80px;
    text-align: center;
}
.section-dark{
    background-color: #666;
    color:#ffff;
}
.textbg2{
    color: white;
    background-color: rgb(20, 19, 20);
    padding: 20px;

}
@media screen and (max-width: 768px) {
    .ping1 {
        min-height: 80vh; /* Decrease height for smaller screens */
    }
    .ptext {
        font-size: 5vw; /* Increase font size for smaller screens */
    }
}





